In [1]:
# librerías a utilizar
import numpy as np 
import pandas as pd
import datetime as datetime

# plots
import matplotlib.pyplot as plt
import seaborn as sns
sns.set(style="whitegrid")
%matplotlib inline

In [3]:
# cargamos los datos
events = pd.read_csv('events.csv', low_memory = False)
events['timestamp'] = pd.to_datetime(events['timestamp'], errors = 'coerce', format= '%Y-%m-%d')
events.head()

,timestamp,event,person,url,sku,model,condition,storage,color,skus,...,search_engine,channel,new_vs_returning,city,region,country,device_type,screen_resolution,operating_system_version,browser_version
0,2018-05-31 23:38:05,ad campaign hit,0004b0a2,/comprar/iphone/iphone-5s,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2018-05-31 23:38:05,visited site,0004b0a2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,Paid,New,Camaragibe,Pernambuco,Brazil,Smartphone,360x640,Android 6,Chrome Mobile 39
2,2018-05-31 23:38:09,viewed product,0004b0a2,NaN,2694.0,iPhone 5s,Bom,32GB,Cinza espacial,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2018-05-31 23:38:40,checkout,0004b0a2,NaN,2694.0,iPhone 5s,Bom,32GB,Cinza espacial,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2018-05-29 13:29:25,viewed product,0006a21a,NaN,15338.0,Samsung Galaxy S8,Bom,64GB,Dourado,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [17]:
screen_resolutions = events[['screen_resolution', 'device_type', 'event']].groupby(['screen_resolution', 'device_type']).agg({'event':'count'})
screen_resolutions = screen_resolutions.reset_index().sort_values(by='event', ascending=False)
screen_resolutions.head()

    screen_resolution device_type  event
196           360x640  Smartphone  29965
79           1366x768    Computer  21296
172           320x534  Smartphone   3619
124         1920x1080    Computer   3489
177           320x570  Smartphone   2560

In [24]:
computer_df = screen_resolutions[screen_resolutions['device_type'] == 'Computer']
computer_df.head(10)

    screen_resolution device_type  event
79           1366x768    Computer  21296
124         1920x1080    Computer   3489
73           1360x768    Computer   2473
106          1600x900    Computer   2435
12           1024x768    Computer   2355
91           1440x900    Computer   2210
54          1280x1024    Computer   1914
57           1280x720    Computer   1109
101          1536x864    Computer   1057
63           1280x800    Computer   1050

In [26]:
smartphone_df = screen_resolutions[screen_resolutions['device_type'] == 'Smartphone']
smartphone_df.head(10)

    screen_resolution device_type  event
196           360x640  Smartphone  29965
172           320x534  Smartphone   3619
177           320x570  Smartphone   2560
174           320x568  Smartphone   1779
229           412x732  Smartphone    934
205           375x667  Smartphone    931
236           424x753  Smartphone    743
166           320x480  Smartphone    598
175           320x569  Smartphone    551
232           414x736  Smartphone    231

In [27]:
# ver que se puede sacar de esto